<div>
  <div class="coupon_pupop">
    COUPON
  </div>
  
  <div class="coupon_pupop_content">
    COUPON CONTENT
  </div>
</div>

{% schema %}
{
  "name": "Coupon pupop",
  "settings":[],
  "presets": [
    {
      "category": "Pupop",
      "name":"Coupon pupop"
    }
  ]
}
{% endschema %}