<div class="coupon_pupop">
  COUPON
</div>

<div class="coupon_pupop_content">
  COUPON CONTENT
</div>

{% schema %}
{
  "name": "Coupon pupop",
  "class":"mfp-hide",
  "settings":[],
 "presets": [
  {
    "category": "Pupop",
    "name":"Coupon pupop"
  }
 ]
}
{% endschema %}